@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #454545;
}

.calculator{
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 30px;
    background: solid;
    background-color: #a09e9e;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 10);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    border-radius: 15px;
    background: solid;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #000000;
}

input::placeholder{
    color: #000000;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: solid;
    background-color: #1f1d1d;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 1px 1px 8px rgba(22, 21, 21, 0.1);
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: #403d3d;
    color: #ffffff;
    transform: scale(110%);
}

.equalBtn{
    background-color: #fb7c14;
    width: 145px;
    border-radius: 50px;

}
.equalBtn:hover{
    background-color: #ff3700;
    
    

}


.operator{
    color: #acf87a;
    background-color: rgb(44, 26, 51);
}
.operator:hover{
    color: #f2f2f2;
    background-color: rgb(110, 95, 221);
}